# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives__

- List programming languages used by data scientists
- List popular libraries used by data scientists
- get familiar with data science tools
- express simple arithmetic expressions using python

Some of the languages Data Scientists use are:

1. Python
2. R
3. C++
4. C
5. Scala

Some of the most common libraries used by data scientists include:
 
 1. pandas
 2. numpy
 3. matplotlib
 4. pytorch

| __Data Science Tools__|
|-----|
| MySQL |
| Hadoop |
| Predictionio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add intergers

17

In [3]:
x= 200
y= 60
z = x/y
print(z)

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author: 
Endre Sziraki